<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site em NodeJs</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Aprendendo usar o Heroku</h1>
        <h2>Disciplina de Gerência e Configuração de Sistemas para Internet</h2>
        <h3>Informática 7</h3>
        <p>Prof. Fábio Duarte de Oliveira</p>
        <p>Isabela dos Santos Corrêa Crivelli</p>
</body>
</html>